body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #EFEFEF;
}

.body-width {
    margin: 0 190px;
}

.navbar-container {
    margin: 0 auto;
    z-index: 1;
    width: 1160px;
    max-width: 100%;
    display: flex;
}

.nav-links-container {
    padding: 1em 0;
    align-self: center;
}
.navbar {
    background-color: #474747;
    overflow: hidden;
    height: 80px;
    border-bottom: 1px solid #646464;
    
}

.section-one-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.vertical-line {
    border-left: 1px solid #646464;
    height: 80px;
    order: 5;
  }

.nav-links {
    margin: 0;
    padding: 0;
    text-align: right;
    order: 1;
}

.navbar a, .nav-links {
    color: #e7e7e7;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    align-self: center;
    padding: 0 12;
}

.navbar a:hover, .social-links i:hover {
    color: #d4af37;
}

.social-links-container {
    padding: 1em 0 16px 0px ;
    align-self: center;
    order: 6;
}

.social-links i {
    color:#e7e7e7;
    font-size: 14px;
    padding-left: 10px;
}

.header-image  {
    background-image: url('/assets/images/Header Image love black art (2).png');
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    background-position-y: top;
}



@media only screen and (max-width: 1440px) {
    .header-image {
        background-image: url('/assets/images/rsz_header_image_love_black_art_2.png');
        background-size:auto;
        background-position-y: top;
    }
}

@media only screen and (max-width: 600px) {
    .header-image {
        background-image: url('/assets/images/600-header-image.png');
    }
}

.what-we-do-container {
    display: flex;
    padding-bottom: 210px;
    align-items: center;
    flex-direction: column;
}

.what-we-do-header {
    font-size: 42px;
    color: #474747;
}

.what-we-do-body {
    display: flex;
    padding-top: 80px;
    width: 100%;
    justify-content: center;
}

.wwd-icon {
    font-size: 48px;
    color: #78387B;
    align-self: center;
}

.what-we-do-subjects {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
}

.what-we-do-subjects-text {
    color: #474747;
    font-size: 14px;
}

.wwd-copy {
    padding-left: 24px;
    align-self: center;
    width: 200px;
}

.wwd-copy-header {
    font-weight: bold;
    padding-bottom: 8px;
}

.wwd-subjects-item {
    display: flex;
}

.wwd-line-separator {
    border: 1px solid rgba(120, 56, 123, 0.5);
    margin-bottom: 132px;
}